.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .cardfav {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding:2rem;
    margin: 1rem
  }
  
  .cardfavhead {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
  
  .cardfavhead > img {
    border-radius: 5px;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }